[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AHP XC Gui
GenericName=Gui test application for the AHP XC Cross-correlators
Comment=Test GUI for XC Crosscorrelators
Exec=ahp-xc-gui
Icon=ahp-xc-gui
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;KDE;Education;Science;Astronomy;
