IDI_ICON1               ICON        DISCARDABLE            "icon.ico"
IDI_DATA1               TEXT        DISCARDABLE            "xc1.json"
IDI_DATA1               TEXT        DISCARDABLE            "xc2.json"
IDI_DATA1               TEXT        DISCARDABLE            "xc4.json"
IDI_DATA1               TEXT        DISCARDABLE            "xc8.json"
IDI_DATA1               TEXT        DISCARDABLE            "xc10.json"
IDI_DATA1               TEXT        DISCARDABLE            "xc12.json"
IDI_DATA2               TEXT        DISCARDABLE            "xc14.json"
IDI_DATA3               TEXT        DISCARDABLE            "xc16.json"
IDI_DATA4               TEXT        DISCARDABLE            "xc18.json"
IDI_DATA5               TEXT        DISCARDABLE            "xc20.json"
IDI_DATA6               TEXT        DISCARDABLE            "xc22.json"
IDI_DATA7               TEXT        DISCARDABLE            "xc24.json"
IDI_DATA8               TEXT        DISCARDABLE            "xc32.json"
